#about-id {
  padding-top: 100px;
  margin-top: 50px;
  height: 100vh;
  width: 50%;
}

.about-text {
  

  p {
    margin-left: 20px;
    font-size: 20px;
    padding: 20px;
    border-left: 3px solid var(--secondary-color);
  }
}

.img-about {
  display: inline-block;
  width: 600px;
  position: absolute;
  left: 60%;
  margin-bottom: 100px;
}
