p svg {
  margin-left: 1rem;
  animation: forward 0.5s alternate infinite;
}

svg {
  fill: black;
  overflow: hidden;
  vertical-align: middle;
}

.about-link,
.projects-link,
.skills-link,
.contact-link {
  display: block;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  width: max-content;
  
  .project-link-text {
    font-size: 16px;
  }
}

.contact-link,
.skills-link {
  border-top: 2px solid var(--secondary-color);
  border-left: 2px solid var(--secondary-color);
  
}
.projects-link {
  margin-top: 40px;
  border-top: 2px solid var(--secondary-color);
}

.skills-link {
  margin-top: 200px;
}

.contact-link {
  margin-top: 100px;
}

.about-link:hover,
.projects-link:hover,
.skills-link:hover,
.contact-link:hover {
  color: var(--secondary-color);
  transform: translate(10px, -10px);
}

@keyframes forward {
  0% {
    margin-left: 1rem;
  }
  100% {
    margin-left: 2rem;
  }
}

@media (min-width: 992px) {
  .about-link,
  .projects-link,
  .skills-link,
  .contact-link {
    display: block;
    margin-left: 100px;
  }
}