
  

  .text-box {
    font-family: "Source Code Pro", monospace;
    display: inline-block;
    margin-bottom: 10px;
   
   
    .code {
      display: inline-block;
      margin-top: 20px;
      margin-bottom: 5px;
      margin-left: 150px;
    }
    .span-code1 {
      margin-left: 100px;
    }
    .span-code3 {
      margin-left: 200px;
    }
  }
