@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "header.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  primary-color: #364652;
  secondary-color: #eeeeee;
  border-color: #d6ffb7;
  text-color: #c5283d;
  

}

body {
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  background-image: linear-gradient(120deg, #364652, #d6ffb7);
  background-repeat: no-repeat;
}

.head {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid black;
  border-radius: 5px;
  width: 150px;
  height: 96vh;
}

.container {
  position: absolute;
  left: 100%;
  padding: 20px;
  width: 173vh;
  height: 100%;
  border: 2px solid black;
}

.span-code2 {
  position: relative;
  display: block;
  margin: 50px 60px;
  font-family: "Source Code Pro", monospace;
}
.span-code3, .span-code4 {
  position: relative;
  display: block;
  margin: 60px 150px;
  font-family: "Source Code Pro", monospace;
}

h1 {
  margin-left: 250px;
  font-size: 35px;
  width: 450px;
}

.yas {
  // font-size: 50px;
  // font-family: "Dancing Script", cursive;
  color: #c5283d;
  text-shadow: 5px 0px 0px #eeeeee;
}

.text-box {
  position: relative;
  top: 0;
}

.text {margin-left: 250px;
font-size: 20px;
width:70%;}
