@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

@import "header.scss";
@import "container.scss";
@import "arrows.scss";
@import "about.scss";
@import "projects.scss";
@import "skills.scss";
@import "contact.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #770058;
  --secondary-color: navy;
  --text-color: #fff3f5;
}

body {
  font-family: "Josefin Sans", sans-serif;
  width: 100%;
  height: 100%;
  background: linear-gradient(334deg, #770058, #7525e2, #ff5ca8);
  background-size: 180% 180%;
  animation: gradient-animation 4s ease infinite;
  color: var(--text-color);
  font-weight: 600;
  overflow-x: hidden;
}

.section-padding {
  padding: 20px;
}

.welcome-section {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  width: 100%;
  height: 100vh;
}

.welcome-section__left {
  width: 15%;
  height: 100%;
}

.welcome-section__right {
  width: 85%;
  height: 100%;

  padding: 10px;
  border: 4px solid var(--secondary-color);

  h1 {
    margin-top: 200px;
    margin-left: 250px;
    font-size: 35px;
    width: 450px;
    animation: vibration 1s linear infinite forwards;
  }

  p {
    margin-left: 250px;
    margin-top: 100px;
    font-size: 20px;
    width: 70%;
  }

  a {
    margin-top: 30px;
  }
}


a {
  color: var(--text-color);
  text-shadow: 2px 2px 10px var(--text-color);
  font-weight: 600;
  font-family: "Josefin Sans", sans-serif;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
}

h2 {
  font-size: 35px;
  width: fit-content;
  padding-left: 20px;
  margin-bottom: 30px;
  text-transform: capitalize;
  color: var(--secondary-color);
  text-shadow: 2px 2px 10px var(--text-color);
  animation: title 1s linear;
}

@keyframes title {
  0% {
    letter-spacing: 1em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
