#projects-section {
  padding-top: 30px;
  margin-top: 10px;
  width: 100%;
}

.projects-container {
  display: flex;
  flex-direction: column;
}

.project-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  p {
    margin-left: 20px;
  }
}
.project-box {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 20px;
  border: 5px solid var(--secondary-color);
  box-shadow: 0 0 50px 0 var(--text-color);
  border-radius: 5px;
  margin-right: 20px;
  transition: all 0.3s ease;
  width: 100%;
  border-radius: 50px;

  h3 {
    margin-top: 20px;
    text-align: center;
  }

  p {
    width: 100%;
  }
}

.project-box:hover {
  transform: translate(-20px, -20px);
}

@keyframes box-shadow-multicolor {
  0% {
    box-shadow: 0 0px 15px var(--primary-color);
  }
  33% {
    box-shadow: 0 0px 15px var(--text-color);
  }
  66% {
    box-shadow: 0 0px 10px var(--secondary-color);
  }
  100% {
    box-shadow: 0 0px 10px var(--text-color);
  }
}

@media (min-width: 992px) {
  #projects-section {
    height: 100vh;
  }

  .projects-container {
    flex-direction: row;
  }

  .project-box {
    transition: all 1s ease-in-out;
    animation: box-shadow-multicolor 3s ease infinite;
  }
}
