#projects-id {
    padding-top: 100px;
    margin-left: 50px;
    margin-top: 50px;
    height: 100vh;
    width: 100%;
    
}

.project-box {
   



    img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        
    }
}