#skills-section {
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 30px 0;
  height: 100vh;
  width: 100%;
}

.skills-container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  animation: none;

  .skill-box {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .skill-img {
    width: 100px;
    height: 100px;
    padding: 4px;
    margin: 5px;
    margin-right: 20px;
    border: 2px solid var(--secondary-color);
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 2px 5px 2px 0px var(--secondary-color);
  }
}

.skill {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 900px;
  height: 35px;
  border: 3px solid var(--secondary-color);
  box-shadow: 2px 3px 2px 0px var(--secondary-color);
  border-radius: 50px;
  text-align: center;
  padding: 5px;
  text-transform: capitalize;

  .level1 {
    border-right: 3px solid var(--secondary-color);
    border-radius: 50px;
    background-color: var(--secondary-color);
    box-shadow: 0 0 50px 0 var(--text-color);
  }

  .level2 {
    border-right: 3px solid var(--secondary-color);
  }
}

@keyframes roll-in-left {
  0% {
    transform: translateX(-500px) rotate(-240deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

@media (min-width: 992px) {
  .skills-container {
    animation: roll-in-left 1.3s linear;
  }
}
